.code__block{
    margin: 40px 10px;
}
.code__header{
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    background-color: rgb(240, 242, 246);
}
.code__header, .code__headerLeft{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0px 2px;
}
.code__views{
    display:flex;
    justify-content:space-between;
    padding: 0px 2px;
}
.code__index{
    padding: 0 2px;
}
.code__views{
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
}
.code__block:hover{
    transition:box-shadow .3s;
    box-shadow: 0 4px 8px 0 #c8d2e7, 0 6px 20px 0 #c8d2e7;
}
.code__views > div{
    flex: 0.5;
}
.code__markdown{
    overflow-y: auto;
    border-right: 1px solid black;
}
.code__view{
    padding: 5px;
    overflow: auto;
}
.MuiSvgIcon-root{
    cursor: pointer;
}